@page
@model WebApp.Pages.Errands.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container shadow border border-1 rounded-3 my-5 p-4 no-select bg-white">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="UpdateErrand.Title">Title</label>
            <input class="form-control" asp-for="UpdateErrand.Title" placeholder="New errand for elevator ...">
            <span class="text-danger" asp-validation-for="UpdateErrand.Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UpdateErrand.Description" class="form-label">Description</label>
            <textarea class="form-control" asp-for="UpdateErrand.Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="UpdateErrand.Description"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="UpdateErrand.ErrandStatus">Status</label>
            <select class="form-control" list="datalistOptions" asp-for="UpdateErrand.ErrandStatus" asp-items="Model.Statuses">
                <option value="" disabled selected>Select a status</option>
            </select>
            <span class="text-danger" asp-validation-for="UpdateErrand.ErrandStatus"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="UpdateErrand.AssignedToId">Assigned Technician</label>
            <select class="form-control" list="datalistOptions" asp-for="UpdateErrand.AssignedToId" asp-items="Model.Technicians">
                <option value="" disabled selected>Select a technician</option>
            </select>
            <span class="text-danger" asp-validation-for="UpdateErrand.AssignedToId"></span>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>