@page
@model WebApp.Pages.Elevator.IndexModel
@{
    ViewData["Title"] = "Elevators";
}







<h1 class="h1">Elevators</h1>
<form method="post">
    <input type="text" asp-for="Elevator.Id" placeholder="Id" />
    <input type="text" asp-for="Elevator.Location" placeholder="Location" />
    <input type="text" asp-for="Elevator.Status" placeholder="Status" />
    <button type="submit">Submit</button>
</form>




<div class="container">
    <div class="row height">
        <div class="col-md-9">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control form-input" placeholder="Search...">
            </div>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="item1">Status</div>
    <div class="item2">Ongoing</div>
    <div class="item3">Id</div>
    <div class="item4">Location</div>
    <div class="item5">Completed</div>
    <div class="item6">Inactive</div>
    <div class="item7">placeholder</div>
    <div class="item8">1</div>
    <div class="item9">Stockholm</div>
    <div class="item10">No</div>
    <div class="item11">Active</div>
    <div class="item12">placeholder</div>
    <div class="item13">2</div>
    <div class="item14">Göteborg</div>
    <div class="item15">Yes</div>
    <div class="item16">Inactive</div>
    <div class="item17">placeholder</div>
    <div class="item18">3</div>
    <div class="item19">Stockholm</div>
    <div class="item20">No</div>

</div>












